{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 fw-bold">Patients</h2>

<a href="/admin/hospital/patient/add/" class="btn btn-dark mb-3">
+ Add Patient
</a>

<form method="GET" class="mb-3">

<div class="input-group">

<input type="text" name="q" class="form-control" placeholder="Search patient...">

<button class="btn btn-dark">Search</button>

</div>

</form>

<table class="table table-hover table-bordered align-middle shadow-sm">

<thead class="table-light">
<tr>

<th>Name</th>
<th>Age</th>
<th>Phone</th>
<th>Address</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

{% for patient in patients %}

<tr>
<td>{{ patient.name }}</td>
<td>{{ patient.age }}</td>
<td>{{ patient.phone }}</td>
<td>{{ patient.address }}</td>

<td>

<a href="/admin/hospital/patient/{{ patient.id }}/change/" 
class="btn btn-sm btn-dark me-2">Edit</a>

<a href="/admin/hospital/patient/{{ patient.id }}/delete/" 
class="btn btn-sm btn-outline-dark">Delete</a>

</td>
</tr>

{% endfor %}

</tbody>

</table>

<nav class="mt-3">

<ul class="pagination">

{% if patients.has_previous %}

<li class="page-item">
<a class="page-link" href="?page={{ patients.previous_page_number }}">Previous</a>
</li>

{% endif %}

<li class="page-item active">
<span class="page-link">
Page {{ patients.number }} of {{ patients.paginator.num_pages }}
</span>
</li>

{% if patients.has_next %}

<li class="page-item">
<a class="page-link" href="?page={{ patients.next_page_number }}">Next</a>
</li>

{% endif %}

</ul>

</nav>

{% endblock %}